/*
 * Empty Stylesheet file.
 */

.button{
    -fx-background-color: #87BAD7;
    -fx-background-radius: 5;
    -fx-border-color: #000000;
    -fx-border-width: 1 1 1 1;
    -fx-background-insets: 0;
    -fx-border-radius: 4;
}

.button:focused{
    -fx-border-color: #CE1F1B;
    -fx-background-color:#e0c4db;
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-background-radius: 6.4, 5, 4, 3;  
}